In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
seri=pd.Series()

C:\Users\MUSTAFA\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
seri

Series([], dtype: float64)

In [ ]:
ser2=pd.Series([1,5,6])

In [ ]:
ser2

0    1
1    5
2    6
dtype: int64

In [ ]:
type(ser2)

pandas.core.series.Series

In [ ]:
ser2.dtype

dtype('int64')

In [ ]:
ser2.size

3

In [ ]:
ser2.values

array([1, 5, 6], dtype=int64)

In [ ]:
for i in ser2.values:
    print(i)

1
5
6

In [ ]:
string="hello world"

In [ ]:
ser3=pd.Series([i for i in string])

In [ ]:
ser3

0     h
1     e
2     l
3     l
4     o
5
6     w
7     o
8     r
9     l
10    d
dtype: object

In [ ]:
data=np.array(["a", "b", "c"])

In [ ]:
ser4=pd.Series(data)

In [ ]:
ser4

0    a
1    b
2    c
dtype: object

In [ ]:
ser4=pd.Series(data, index=[10,20,30])

In [ ]:
ser4

10    a
20    b
30    c
dtype: object

In [ ]:
data={"a": 1, "b": 5, "c":3}

In [ ]:
ser5=pd.Series(data, index=["b", "k","a"])

In [ ]:
ser5

b    5.0
k    NaN
a    1.0
dtype: float64

In [ ]:
myIndex=[i for i in range(0,10)]

In [ ]:
ser6=pd.Series(99, index=myIndex)

In [ ]:
ser6

0    99
1    99
2    99
3    99
4    99
5    99
6    99
7    99
8    99
9    99
dtype: int64

Serilerde Slice/index

In [ ]:
mySer=pd.Series([1,3,5,8,11], index=["a", "b", "c", "e","z"])

In [ ]:
mySer

a     1
b     3
c     5
e     8
z    11
dtype: int64

In [ ]:
mySer[0]

1

In [ ]:
mySer[1:4]

b    3
c    5
e    8
dtype: int64

In [ ]:
mySer[-1]

11

In [ ]:
mySer

a     1
b     3
c     5
e     8
z    11
dtype: int64

In [ ]:
mySer[-2:]

e     8
z    11
dtype: int64

In [ ]:
mySer[1:3]

b    3
c    5
dtype: int64

label indexing

In [ ]:
mySer[["z", "a"]]

z    11
a     1
dtype: int64

In [ ]:
mySer

a     1
b     3
c     5
e     8
z    11
dtype: int64

In [ ]:
mySer[1:2]

b    3
dtype: int64

In [ ]:
mySer[["b","e","z"]]

b     3
e     8
z    11
dtype: int64

In [ ]:
mySer["b","e"]

b    3
c    5
e    8
dtype: int64

In [ ]:
mySer[[1,3,2]]

b    3
e    8
c    5
dtype: int64

In [ ]:
ser1=pd.Series([1,2,4,5], index=["USA", "Germany", "USSR", "Japan"])
ser2=pd.Series([1,2,4,5], index=["USA", "Germany", "Italy", "Japan"])

In [ ]:
ser1.shape

(4,)

In [ ]:
ser2

USA        1
Germany    2
Italy      4
Japan      5
dtype: int64

In [ ]:
ser3=ser1+ser2

In [ ]:
ser3["USA"]=0

In [ ]:
ser3

Germany     4.0
Italy       NaN
Japan      10.0
USA         0.0
USSR        NaN
dtype: float64

In [ ]:
ser3.shape

(5,)

In [ ]:
ser3

Germany     4.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64

In [ ]:
ser3["Italy":"Japan"]

Italy     NaN
Japan    10.0
dtype: float64

In [ ]:
ser3.index

Index(['Germany', 'Italy', 'Japan', 'USA', 'USSR'], dtype='object')

In [ ]:
ser3.values

array([ 4., nan, 10.,  2., nan])

In [ ]:
ser3.items

<bound method Series.items of Germany     4.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64>

In [ ]:
for index, values in ser3.items():
    ser3[index]=values*2

In [ ]:
ser3

Germany     8.0
Italy       NaN
Japan      20.0
USA         4.0
USSR        NaN
dtype: float64

In [ ]:
ser3

Germany     8.0
Italy       NaN
Japan      20.0
USA         4.0
USSR        NaN
dtype: float64

In [ ]:
"Germany" in ser3

True

In [ ]:
8 in ser3.values

True

In [ ]:
ser3["USSR"]=99

In [ ]:
99 in ser3.values

True

In [ ]:
ser3["USA"]="hello"

In [ ]:
ser3

Germany        8
Italy        NaN
Japan         20
USA        hello
USSR          99
dtype: object

In [ ]:
ser3>3

Germany     True
Italy      False
Japan       True
USA        False
USSR       False
dtype: bool

In [ ]:
ser3[ser3>3]=5

In [ ]:
ser3

Germany    5.0
Italy      NaN
Japan      5.0
USA        0.0
USSR       NaN
dtype: float64

In [ ]:
ser3

Germany    5.0
Italy      NaN
Japan      5.0
USA        0.0
USSR       NaN
dtype: float64

In [ ]:
ser3["USA"]="HELLO"

In [ ]:
ser3[ser3.isna()]

Italy    NaN
USSR     NaN
dtype: object

In [ ]:
tarihler=pd.date_range("20220101", periods=10, freq="w")

In [ ]:
tarihler

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
mySeri=pd.Series(tarihler)

In [ ]:
mySeri

0   2022-01-02
1   2022-01-09
2   2022-01-16
3   2022-01-23
4   2022-01-30
5   2022-02-06
6   2022-02-13
7   2022-02-20
8   2022-02-27
9   2022-03-06
dtype: datetime64[ns]

In [ ]:
ser3

Germany        5
Italy        NaN
Japan          5
USA        HELLO
USSR         NaN
dtype: object

In [ ]:
ser3.hasnans

True

In [ ]:
ser3.isin(["HELLO", 5])

Germany     True
Italy      False
Japan       True
USA         True
USSR       False
dtype: bool

In [ ]:
ser3.is_unique

False

In [ ]:
ser4=pd.Series([1,5,7,9], name="merhaba")

In [ ]:
ser4

0    1
1    5
2    7
3    9
Name: merhaba, dtype: int64

In [ ]:
ser4.name="ahmet"

In [ ]:
ser4

0    1
1    5
2    7
3    9
Name: ahmet, dtype: int64

In [ ]:
ser4.astype("int32")

0    1
1    5
2    7
3    9
Name: ahmet, dtype: int32

In [ ]:
ser4

0    1
1    5
2    7
3    9
Name: ahmet, dtype: int64

In [ ]:
ser4.pop(1)

5

In [ ]:
ser4

0    1
2    7
3    9
Name: ahmet, dtype: int64

In [ ]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])

In [ ]:
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])

In [ ]:
a

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

In [ ]:
b

a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

In [ ]:
a.add(b, fill_value=0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [ ]:
b.isna()

a    False
b     True
d    False
e     True
dtype: bool

In [ ]:
ser5=pd.Series([20,30,40], index=["a", "b", "c"])

In [ ]:
ser5

a    20
b    30
c    40
dtype: int64

In [ ]:
def bincarp(x):
    return x*1000

In [ ]:
ser5.apply(bincarp)

a    20000
b    30000
c    40000
dtype: int64

In [ ]:
ser6=pd.Series(["elma", "armut","kiraz","vişne" ])

In [ ]:
ser6

0     elma
1    armut
2    kiraz
3    vişne
dtype: object

In [ ]:
def buyuk(x):
    return x.upper()

In [ ]:
ser6.apply(buyuk)

0     ELMA
1    ARMUT
2    KIRAZ
3    VIŞNE
dtype: object

In [ ]:
ser5

a    20
b    30
c    40
dtype: int64

In [ ]:
ser5.agg(["min", "max", "sum"])

min    20
max    40
sum    90
dtype: int64

In [ ]:
seri7=pd.Series(range(3))

In [ ]:
seri7

0    0
1    1
2    2
dtype: int64

In [ ]:
seri7.transform([np.sqrt, np.sin])

       sqrt       sin
0  0.000000  0.000000
1  1.000000  0.841471
2  1.414214  0.909297

In [ ]:
ser8 = pd.Series([390., 350., 30., 20.],index=['Falcon', 'Falcon', 'Parrot', 'Parrot'], name="Max Speed")

In [ ]:
ser8

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [ ]:
ser8.groupby(level=0).mean()

Falcon    370.0
Parrot     25.0
Name: Max Speed, dtype: float64

In [ ]:
ser8>100

Falcon     True
Falcon     True
Parrot    False
Parrot    False
Name: Max Speed, dtype: bool

In [ ]:
ser8.groupby(ser8>100).mean()

Max Speed
False     25.0
True     370.0
Name: Max Speed, dtype: float64

In [ ]:
ser8.groupby(ser8>360).mean()

Max Speed
False    133.333333
True     390.000000
Name: Max Speed, dtype: float64

In [ ]:
ser8.groupby(level=0).mean()

Falcon    370.0
Parrot     25.0
Name: Max Speed, dtype: float64

In [ ]:
ser8

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [ ]:
ser8.describe()

count      4.000000
mean     197.500000
std      199.895806
min       20.000000
25%       27.500000
50%      190.000000
75%      360.000000
max      390.000000
Name: Max Speed, dtype: float64

In [ ]:
seri9=pd.Series(np.arange(3), index=["a", "b","c"])

In [ ]:
seri9.drop(["a", "c"])

b    1
dtype: int32

In [ ]:
ser8

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [ ]:
s = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama', 'hippo'],
              name='animal')

In [ ]:
s

0      lama
1       cow
2      lama
3    beetle
4      lama
5     hippo
Name: animal, dtype: object

In [ ]:
s.drop_duplicates()

0      lama
1       cow
3    beetle
5     hippo
Name: animal, dtype: object

In [ ]:
seri10=pd.Series(range(10))

In [ ]:
seri10

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
seri10.where(seri10>5, seri10*100)

0      0
1    100
2    200
3    300
4    400
5    500
6      6
7      7
8      8
9      9
dtype: int64

In [ ]:
seri10

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
seri10.mask(seri10>3,10)

0     0
1     1
2     2
3     3
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [ ]:
ser11=pd.Series([3,5,9,np.nan])

In [ ]:
ser11

0    3.0
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
ser11.dropna(inplace=True)

In [ ]:
ser11

0    3.0
1    5.0
2    9.0
dtype: float64

In [ ]:
s1=pd.Series([4,5,6])
s2=pd.Series([4,6,8], index=[4,5,6])

In [ ]:
s1

0    4
1    5
2    6
dtype: int64

In [ ]:
s2

4    4
5    6
6    8
dtype: int64

In [ ]:
s1.append(s2)

0    4
1    5
2    6
4    4
5    6
6    8
dtype: int64

In [ ]:
s1.append(s2, ignore_index=True)

0    4
1    5
2    6
3    4
4    6
5    8
dtype: int64

In [ ]:
ser11

0    3.0
1    5.0
2    9.0
dtype: float64

In [ ]:
ser12=pd.Series([3,5,9,np.nan])

In [ ]:
ser12

0    3.0
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
ser12.fillna(1, inplace=True)

In [ ]:
ser12

0    3.0
1    5.0
2    9.0
3    1.0
dtype: float64

In [ ]:
ser12

0    3.0
1    5.0
2    9.0
3    1.0
dtype: float64

In [ ]:
ser12=pd.Series([3,5,9,9, np.nan])

In [ ]:
ser12

0    3.0
1    5.0
2    9.0
3    9.0
4    NaN
dtype: float64

In [ ]:
ser12.value_counts(dropna=False)

9.0    2
NaN    1
5.0    1
3.0    1
dtype: int64

In [ ]:
ser13=pd.Series([3,5,9,9, np.nan, np.nan, np.nan, np.nan ])

In [ ]:
ser13.isnull().sum()

4